 #historietaID {
    height: 300px;
    width: 65vw;

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 5px solid #000000;
	border-radius: 30px;
    background: linear-gradient(to right, white, gray);
 }

 #historietaID article:nth-child(1) {
    width: 100%;

    border: 2px solid red;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 #historietaID article:nth-child(2) {
    width: 100%;

    border: 2px solid red;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 #historietaID article:nth-child(2) section {
    width: 60%;
 }

 #historietaID article:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
 }

 #historietaID article:nth-child(3) button {
     margin-left: 30px;
 }

