#cuerpoCabecera {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: auto;
    width: 50vw;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;

    box-shadow: 10px 10px 7px black;
}

nav > section {
    height: 30px;
    width: 25%;
  
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}

main {
    height: auto;
    width: 50vw;

    padding-bottom: 150px;
}

main > section {
    height: 300px;
    width: 50vw;

    display: flex;
    flex-direction: row;

    align-items: space-between;

    border: 1px solid black;
}


#logo {
    height: 40px;
    width: 40px;
}

#marcoPerfil {
    width: 268px;
    height: 280px;

    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;

    bottom: -50px;

    border: 2px solid red;
}

#imgperfil {

  height: 100%;
  width: 100%;
}