<div id="cuerpoCabecera">
  <nav>
    <section><a routerLink="/mis-historietas">Mis Historietas</a></section>
    <section><a routerLink="/mis-cosas">Mis Cosas</a></section>
    <section><a routerLink="/mis-colegas">Mis Colegas</a></section>
    <section><a routerLink="/eventos">Eventos</a></section>
  </nav>
  <main>
    <section>
      <!-- <img id="logo" src="../assets/images_cabecera/logo.png"> -->
      <div id="marcoPerfil"><img id="imgPerfil" src="../assets/images_cabecera/userprofile1.png"></div>
      <article>
        <span style="font-size: 5em;"> Hola: {{ user?.name }} </span>
      </article>
    </section>
  </main>
</div>