<div id="cuerpoCabecera">
  <header id="banner">
    <img src="../../assets/images_cabecera/logo.png" alt="SocialHaven" id="logo">
  </header>
  <nav id="barraNavegacion">
    <section><a routerLink="/mis-historietas">Mis Historietas</a></section>
    <section><a routerLink="/mis-cosas">Mis Cosas</a></section>
    <section><a routerLink="/mis-colegas">Mis Colegas</a></section>
    <section><a routerLink="/eventos">Eventos</a></section>
  </nav>
  <main>
    <section>
      <div id="marcoPerfil"><img id="imgPerfil" src="../assets/images_cabecera/{{user?.image}}"></div>
      <article>
        <span style="font-size: 4em;"> {{ user?.name }} {{ user?.surname }} </span>
      </article>
    </section>
  </main>
</div>